.navbar, .table{ margin-bottom: 0; }
#top-navbar .navbar-inner{ border-radius: 0; }

#code-detail .nav-tabs{ margin-bottom: 0; }
#code-detail .nav-tabs li a{ color: #555; }

ul.tab-content, ol.tab-content{ margin: 0; padding: 0; }

::-webkit-scrollbar-thumb{ background: #ddd; min-height: 50px; outline-offset: -2px; outline: 2px solid #fff; }
::-webkit-scrollbar-thumb:hover{ background: #666; }
::-webkit-scrollbar{ width: 12px; height: 12px; }
::-webkit-scrollbar-track-piece{ background: #fafafa; -webkit-border-radius: 0; }

html, body, table{ font-family: 'Courier New', 'Heiti SC', 'Microsoft Yahei'; }
html, body{ width: 100%; height: 100%; overflow: hidden; }

.scrollable{ overflow: auto; }
.ellipsisable{ white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.relative{ position: relative; }
.absolute{ position: absolute; }

table.compact-width{ border-bottom: 1px solid #d5d5d5; position: absolute; top: 0; left: 0; right: 0; z-index: 1; }
table.compact-width th{ padding: 8px 5px; }

.tab-content{ overflow: hidden; position: absolute; }
.tab-content>li{ display: none; position: absolute; top: 0; bottom: 0; left: 0; right: 0; }
.tab-content>li.tab-content-active{ display: block; }

#top-navbar .close{ padding: 7px 18px 0 0; }
#top-navbar .brand{ color: #333; }

.main{ position: absolute; position: absolute; top: 43px; bottom: 0; left: 0; right: 0; }

#pages{ top: 0; bottom: 0; left: 0; right: 0; }

#list-codes{ cursor: default; position: absolute; top: 36px; bottom: 0; left: 0; right: 0; }
#list-codes-tbody .none{ color: #999; }
#list-codes-tbody .stress{ color: #e5818a; }

#code-detail{ left: 155px; right: 0; top: 0; bottom: 0; border-left: 1px solid #cacaca; background: #fff; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065); display: none; overflow: hidden; z-index: 2; }
#code-detail .code-toolbar{ height: 42px; background-color: #fafafa; border-bottom: 1px solid #d5d5d5; }
#code-detail ul.code-toolbar-inner{ list-style-type: none; height: 100%; margin: 0; padding: 0; }
#code-detail .code-toolbar li{ float: left; display: block; }
#code-detail .code-toolbar li.right{ float: right; }
#code-detail .code-toolbar li.close-button-like{ padding: 8px 12px 0 14px; }
#code-detail .code-toolbar li.tab-like{ padding: 5px 0 0 30px; }
#code-detail .code-toolbar li.label-like{ line-height: 36px; padding: 4px 10px 0; color: #999; }
#code-detail .code-toolbar li.image-like{ padding: 12px 0 0 8px; }
#code-detail .code-toolbar .image{ width: 16px; height: 16px; border: 1px solid #ccc; }
#code-detail .code-toolbar .arrive{ background-color: #bddbef; }
#code-detail .code-toolbar .unarrive{ background-color: #fff; }

#code-detail-body{ top: 43px; bottom: 0; left: 0; right: 0; }

#code-content{ width: 100%; height: 100%; }
#code-content pre{ padding: 0; margin: 0; border: 0; font-family: 'Courier New', 'Heiti SC', 'Microsoft Yahei'; border-radius: 0; background-color: transparent; white-space: pre; }
#code-content .gutter{ position: absolute; left: 0; top: 0; width: 50px; background-color: #fafafa; text-align: right; padding: 5px; z-index: 1; }
#code-content .gutter pre{ color: #ccc; }
#code-content .lines{ position: absolute; left: 60px; top: 0; padding: 5px; }
#code-content .lines .arrive{ background-color: #bddbef; padding: 0 3px; border-radius: 2px; margin-left: -3px; color: #000; }
#code-content .timeout-code, #code-content .empty-code{ padding: 10px; color: #ccc; }

#code-info{ padding: 30px; }
#code-info .group{ margin: 0 0 10px; }
#code-info .group dt{ display: block; float: left; width: 90px; }
#code-info .group dd{ display: block; margin-left: 90px; }

#loading{ position: absolute; left: 0; top: 0; background: rgba(0,0,0,.5); width: 100%; height: 100%; text-align: left; z-index: 100; display: none; }
#loading span{ color: #fff; font-size: 16px; padding: 14px 0 0 14px; display: inline-block; text-shadow: 0 0 3px #000; }
#loading span#waitTime{ padding-left: 10px; }